<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Users')"/>
<body>
<nav th:replace="fragments/nav :: navbar('Users')" />
<div class="container">
    <h3>User list</h3>
    <table class="table">
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telephone</th>
            <th scope="col">Control</th>
        </tr>
        <tr th:each="user : ${appUserList}">
            <td th:text="${user.firstName}"/>
            <td th:text="${user.lastName}"/>
            <td th:text="${user.email}"/>
            <td th:text="${user.telephone}"/>
            <td>
                <a class="btn btn-primary" th:href="@{appUsers/manager(appUserId=${user.id})}">Modify</a>
                <a class="btn btn-danger" th:href="${'delete/' + user.id}">Remove</a>
            </td>
        </tr>
    </table>
    <a class="btn btn-success" th:href="@{appUsers/manager}">Create</a>
</div>
</body>
</html>