<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(#{'nav.blocks'})"></head>
<body>
<nav th:replace="fragments/nav :: navbar"></nav>
<div class="container">
    <h3><span th:text="#{${block.id == null ? 'create' : 'modify'}} + ' ' + ${block.address}"></span></h3>
    <form action="#" th:action="@{/blocks/save}" th:object="${block}" method="post">

        <table>
            <tr>
                <td><input th:type="hidden" th:field="*{id}" path="id" /></td>
            </tr>
            <tr>
                <td><label path="address">Address</label></td>
                <td><input th:field="*{address}" path="address" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn" th:classappend="${block.id == null ? 'btn-success' : 'btn-primary'}" type="submit" th:value="#{${block.id == null ? 'create' : 'modify'}}" />
                    <a class="btn btn-secondary" href="/blocks" th:text="#{back}"></a>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>