<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <title th:text="#{app.title}"></title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/login.css}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="app-title text-center" th:text="#{app.title}"></h5>
                        <h5 class="card-title text-center" th:text="#{login.sign_in}"></h5>
                        <form class="form-signin" th:action="@{/login.html}" method="post">
                            <div class="form-label-group">
                                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
                                <label for="username" th:text="#{username}"></label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                                <label for="password" th:text="#{password}"></label>
                            </div>
                            <button class="btn btn-primary" type="submit" th:text="#{login.sign_in}"></button>
                            <p th:if="${loginError}" class="error" th:text="#{login.wrong_username_or_password}"></p>
                            <hr/>
                            <a class="btn btn-primary" type="button" th:href="@{/register.html}" th:text="#{login.sign_up}"></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>